# graphql resolver
snippet resolver
	async (_, {${1:args}}, ctx) => {
		return ${2};
	}

# eslint-disable no-console for entire file
snippet eslint-disable-no-console
	/* eslint-disable no-console */
